<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>{% block title %} {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/main.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--============================== Custom css =====================================================-->
    {% block css %} {% endblock %}
</head>

<body>
    {% block body %} {% endblock %}

    {% block javascript %} {% endblock %}

</body>

</html>