{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}"/>
{% endblock %}

{% block body %}
    {% include 'core/navbar.html' %}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-0 text-center header">
      <div class="offset-md-8 col-md-4 p-lg-5 my-5">
        <h1 class="display-4 font-weight-norma text-white">Meetup</h1>
        <p class="lead font-weight-normal text-white">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
      </div>
    </div>

    <div class="container mt-5">
        <div class="card-deck mb-3 text-center">

        {% for meetup in object_list %}
            <div class="card box-shadow">
                <a href="{% url 'meetup-detail' meetup.slug %}">
                <img class="card-img-top" src="/media/{{ meetup.image }}" alt="Image">
                    </a>
                <div class="card-body">
                    <a href="{% url 'meetup-detail' meetup.slug %}">
                    <p class="text-muted card-title"> <small>
                        {{ meetup.date | date:"l, d F Y" }}
                    </small></p>
                    <h5 class="card-title">{{ meetup.name }}</h5>
                    </a>
                    <p>
                        <small>Brought to you by:
                            <a href="{{ meetup.team.web_page }}">
                                {{ meetup.team.name }}
                            </a> </small>
                    </p>

                </div>
            </div>

            {% endfor %}

        </div>

        {% include 'core/footer.html' %}
    </div>


{% endblock %}