<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Meetup</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    {% if request.user.is_authenticated %}
        <a class="btn btn-outline-primary" href="#">Log out</a>
    {% else %}
        <a class="btn btn-outline-primary" href="#">Log in</a>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
    {% endif %}

</div>