/* Main styles */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Make card decks responsive */

@media (min-width: 0) {
    .card-deck .card {
        flex: 0 0 calc(100% - 30px);
    }
}

@media (min-width: 576px) {
    .card-deck .card {
        flex: 0 0 calc(50% - 30px);
    }
}

@media (min-width: 768px) {
    .card-deck .card {
        flex: 0 0 calc(33.3333333333% - 30px);
    }
}

@media (min-width: 992px) {
    .card-deck .card {
        flex: 0 0 calc(33.3333333333% - 30px);
    }
}

@media (min-width: 1200px) {
    .card-deck .card {
        flex: 0 0 calc(33.3333333333% - 30px);
    }
}

.card-body {
    text-align: left;
}

.header {
    background-image: url("/static/core/images/background.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 50%;
}